@import url('https://fonts.googleapis.com/css?family=Calligraffitti:100,200,300,400,500,600,700|Tangerine:100,200,300,400,500,600,700');


/*---- custom navbar color ----*/

.bg-custom {
    background-color: #500461;
}


/*--------- bootstrap css for navbar --------- */

body {
    background-color: #080536;
    padding-top: 3rem;

}

.nav {
    padding-bottom: 0;
}

/*--------- My Carousel --------- */

.carousel {
    padding-left: 0;
    padding-right: 0;
    max-height: 500px;

}

.carousel-item {
    max-height: 500px;
}


/*---- main heading -----*/

h1 {

    Font-weight: 400;
    color: #DECDCC;
    text-align: center;
    margin: 20px;
    padding-top: 15px;
    padding-bottom: 5px;

}
 


/*---- headings -----*/

.heading-font {
    font-family: 'Calligraffitti', sans-serif;
}

.text-styling {
    margin: 5px;
    text-align: center;
}

.about-image {
    border-radius: 100px;
    display: block;
    max-height: 400px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  
}

.main-heading {
    padding-bottom: 30px;
}

/*----- text color  -----*/

.text-color {
    color: #DECDCC;
}

/*----- text styling  -----*/

.home-styling {
    margin-top: 20px;
}

.small-heading {
    text-align: center;
}

/*----- Index page articles  -----*/





.jkr-img {
    display: block;
    max-height: 400px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 200px;
}

.jkr-bio {
    padding-top: 50px;
}


/*----- Meet the character articles  -----*/

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;

}

.character1 {
    padding-top: 30px;
}

.mtc-intro {

    display: block;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

.mtc-article {
    margin-top: 10px;
    padding-top: 10px;
}

/*----- Contact page  -----*/

.social-links {
    color: #DECDCC;
    text-align: center;
}

.icon {
    display: block;
    text-align: center;
}

.contact-header {
    margin: 20px;
    padding-top: 15px;
    padding-bottom: 5px;
}

label {
    color: #DECDCC;
}

/*----- Audibooks -----*/

.audio-content {
    margin-bottom: 40px;
}

h3 {
    font-size: 14px;
    text-align: center;

}

audio {
    display: block;
  margin-left: auto;
  margin-right: auto;
    text-align: center;
    height: 20px;
    width: 275px;
    
}

.img-styling {
max-height: 220px;
    max-width: 160px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-bottom: 10px;
}



.audiobook-styling {
    padding-top: 25px;
    padding-bottom: 20px;
}

/*----- Attractions page  -----*/

.attraction-header {
    text-align: center;
    margin: 5px;
    padding-top: 25px;
    padding-bottom: 5px;
}

.attraction-article {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;

}

.video1 {
    padding-right: 15px;
    padding-bottom: 15px;
}

.video2 {
    padding-left: 15px;
    padding-bottom: 15px;
}

/*----- making videos responsive, code snippet taken from avexdesigns.com -----*/

.video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

/*----- footer  -----*/

.footer {
    background-color: #500461;
}
    

